infrastructure/equinix-metal/.terraform/
infrastructure/equinix-metal/terraform.tfvars
infrastructure/equinix-metal/.terraform.lock.hcl
.idea
/dagger.gen.go
/internal/dagger
/internal/querybuilder
/internal/telemetry
